<h1>Sign up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="registration-form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { value: @name.nil? ? "" : @name } %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :birthdate,
                required: true,
                as: :date,
                html5: true,
                input_html: { value: @birth_date.nil? ? "" : Date.strptime(@birth_date) }%>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions btn btn-ghost">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<div class="devise-links">
  <small><%= render "devise/shared/links" %></small>
</div>
