<div class="w3-container">
  <h1> Selected Master Page</h1>
    <div class="card-product mt-0">
      <h2>
      <%= @user.email %>
      </h2>
        <ul>
          <li><Strong>Speciality</Strong> <%= @user.specialty %></li>
        </ul>
    </div>
</div>

  <div class="form-booking" >
    <h3>Interested in a consulation?</h3>
        <%= simple_form_for [@user, @appointment] do |f|%>
        <%= f.input :message %>
        <%= f.input :when, as: :datetime, html5: true %>
        <%= f.submit 'Submit' %>
      <% end %>
  </div>
