<% flash.each do |type, msg| %>
  <div class="custom-alert">
    <%= msg %>
  </div>
<% end %>

<h1><%= Date.today.strftime("%A %-d %B") %></h1>

<p>Welcome back, <%= @user.email%></p>


<% if @user.master? %>

  <% if @unaccepted_appointments.count != 0 %>
    <div class="requests mt-3">
      <h3>New <%= "request".pluralize(@unaccepted_appointments.count) %> for you:</h3>
      <%= render @unaccepted_appointments %>
    </div>
  <% end %>

  <% if @accepted_appointments.count != 0 %>
    <div class="accepted-requests mt-3">
      <h3>Appointments pending payment:</h3>
      <%= render @accepted_appointments %>
    </div>
  <% end %>

  <% if @confirmed_appointments.count != 0 %>
    <div class="accepted-requests mt-3">
      <h3>Your upcoming appointments:</h3>
      <%= render @confirmed_appointments %>
    </div>
  <% end %>

  <% if @accepted_appointments.count == 0 && @unaccepted_appointments.count == 0 %>
    <div class="accepted-requests mt-3">
      <h3>You have no active appointments.</h3>
    </div>
  <% end %>

<% else %>

  <div class="card-product your-lucky d-flex flex-column pt-4 pb-4">
    <h2>Your lucky colour: <%= @user.lucky_color.capitalize %></h2>
    <h2>Your lucky number: <%= @user.lucky_number %></h2>
  </div>

  <%= render @preferred_posts %>

  <%= link_to appointments_path do %>
    <div class="card-product">
      <%= image_tag 'fortuneteller.jpg' %>
      <div class="card-product-infos">
        <h2>View upcoming appointments</h2>
      </div>
    </div>
  <% end %>

  <%= link_to masters_users_path do %>
    <div class="card-product">
      <%= image_tag 'fortuneteller.jpg' %>
      <div class="card-product-infos">
        <h2>Book a service</h2>
        <p>Consult a professional fortune teller</p>
      </div>
    </div>
  <% end %>

<% end %>


