<div class="container mt-5">
  <h1>Seer</h1>
  <h2>Take destiny into your hands.</h2>
</div>

<div class="container mt-5">
  <p>Want to know more about...</p>
  <div class="cards container d-flex justify-content-around">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/5428833/pexels-photo-5428833.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    <%= link_to "Studies?", studiespost_path %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/4065864/pexels-photo-4065864.jpeg?cs=srgb&dl=pexels-cottonbro-4065864.jpg)">
    <%= link_to "Career?", careerpost_path %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/888899/pexels-photo-888899.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
    <%= link_to "Relationship?", relationshippost_path %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1083981/pexels-photo-1083981.jpeg?cs=srgb&dl=pexels-tatiana-1083981.jpg&fm=jpg)">
    <%= link_to "Health?", healthpost_path %>
  </div>
</div>
</div>

<div class="container mt-5">
  <form name="new_user_form" novalidate="" action="/preview">
    <div class="user-data info">
      <span> I was born on&nbsp;</span>
      <input required="" type="date" placeholder="yyyy-mm-dd" pattern="\d\d\d\d-\d\d-\d\d" min="1500-01-01" max="2500-12-31" name="date" value="">
      <span>&nbsp;at&nbsp;</span>
      <input type="time" placeholder="hh:mm AM" pattern="(\d?\d):(\d\d)( (AM|PM|am|pm))?" name="time" id="birthTime" value="">.&nbsp;
    </div>
    <div class="header-btns">
      <input type="submit" class="btn-ghost mt-2" value="Get a reading">
      <!-- gives params 'date' and 'time' -->
    </div>
  </form>

  <p>Already have an account? <%= link_to 'Log in', new_user_session_path %></p>
</div>
