
<div class="card-product">
  <%= image_tag "#{@sign.downcase}.jpg" %>
  <div class="card-product-infos">
    <h2>Zodiac sign</h2>
    <p>You are a <%= @sign %></p>
  </div>
</div>

<div class="card-product">
  <%= image_tag "personality.jpg" %>
  <div class="card-product-infos">
    <h2>Personality</h2>
    <p><%= @fortune["response"]["personality"]["meaning"]%></p>
  </div>
</div>

<div class="card-product">
  <%= image_tag "attitude.jpg" %>
  <div class="card-product-infos">
    <h2>Attitude</h2>
    <p><%= @fortune["response"]["attitude"]["meaning"]%></p>
  </div>
</div>

<div class="my-5">
  Want to find out more? <%= link_to 'Sign up!', new_user_registration_path %>
</div>
</div>
