<div class="card-product your-lucky d-flex flex-column pt-4 pb-4">
  <h2>Your lucky colour: <%= post.lucky_color %></h2>
  <h2>Your lucky number: <%= post.lucky_number %></h2>
</div>

<div class="card-product">
  <%= image_tag 'fortune1.jpg' %>
  <div class="card-product-infos">
    <h2>Your <%= post.category.name.downcase %> fortune of the day</h2>
    <p><%= post.description %></p>
  </div>
</div>
