<% if appointment.payment_status == 'pending' %>
  <div class="card-product appointment-details">
    <div class="details">
      <h5 class="accepted-details-date"><%= appointment.when.strftime("%a %d %b %Y, %l:%M%P") %></h5>
      <ul>
        <li>With <strong><%= appointment.user.email %></strong></li>
        <li>Their message: “<em><%= appointment.message %></em>” </li>
        <br>
        <li><%= link_to "Cancel this appointment", appointment_path(appointment), method: :delete %> </li>
      </ul>
    </div>
  </div>
<% elsif appointment.payment_status == 'paid' %>
  <div class="card-product appointment-details">
    <div class="details">
      <h5 class="accepted-details-date"><%= appointment.when.strftime("%a %d %b %Y, %l:%M%P") %></h5>
      <ul>
        <li>With <strong><%= appointment.user.email %></strong></li>
        <li>Their message: “<em><%= appointment.message %></em>” </li>
        <p>User made payment on <%= appointment.updated_at.strftime("%a %d %b %Y, %l:%M%P") %></p>
      </ul>
    </div>
  </div>
<% else %>
  <div class="card-product appointment-details">
    <div class="details">
      <h5 class="accepted-details-date"><%= appointment.when.strftime("%a %d %b %Y, %l:%M%P") %></h5>
      <ul>
        <li>From <strong><%= appointment.user.email %></strong></li>
        <li>Their message: “<em><%= appointment.message %></em>” </li>
        <br>
        <li><%= link_to "Accept", appointment_path(appointment), method: :patch %> | <%= link_to "Reject", appointment_path(appointment), method: :delete %></li>
      </ul>
    </div>
  </div>
<% end %>
