<% if appointment.status %>
  <div class="card-product appointment-details">
    <div class="details">
      <h5 class="accepted-details-date"><%= appointment.when.strftime("%a %d %b %Y, %l:%M%P") %></h5>
      <ul>
        <li>With <strong><%= appointment.user.email %></strong></li>
        <li>Their message: “<%= appointment.message %>” </li>
        <br>
        <li><%= link_to "Delete this appointment", appointment_path(appointment), method: :delete %> </li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="card-product appointment-details">
    <div class="details">
      <h5 class="accepted-details-date"><%= appointment.when.strftime("%a %d %b %Y, %l:%M%P") %></h5>
      <ul>
        <li>From <strong><%= appointment.user.email %></strong></li>
        <li>Their message: “<%= appointment.message %>” </li>
        <br>
        <li><%= link_to "Accept this request", appointment_path(appointment), method: :patch %></li>
        <li><%= link_to "Delete this appointment", appointment_path(appointment), method: :delete %> </li>
      </ul>
    </div>
  </div>
<% end %>
