<% if appointment.status %>
  <div class="card-product-accepted">
    <div class="approved-details">
      <h5 class="approved-details-date mx-3"><%= appointment.when %></h5>
      <ul>
        <li>With <strong><%= appointment.master.email %></strong></li>
        <li>Your message: “<%= appointment.message %>” </li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="card-product-unaccepted">
    <ul>
      <li>Your request to <strong><%= appointment.master.email %></strong> at <%= appointment.created_at %>:</li>
      <br>
      <li>For <strong><%= appointment.when %></strong></li>
      <li>Your message: “<em><%= appointment.message %></em>” </li>
    </ul>
  </div>
<% end %>
