<div class="container">
  <% if @unaccepted_appointments.count != 0 %>
    <div class="requests mt-3">
      <h4>Your pending requests:</h4>
      <%= render @unaccepted_appointments %>
    </div>
  <% end %>

  <% if @accepted_appointments.count != 0 %>
    <div class="accepted_requests mt-3">
      <h4>Your confirmed appointments:</h4>
      <%= render @accepted_appointments %>
    </div>
  <% end %>

  <% if @deleted_appointments.count != 0 %>
    <div class="accepted_requests mt-3">
      <h4>Rejected requests:</h4>
      <%= render @deleted_appointments %>
      <br>
      <%= link_to "Make another appointment?", masters_users_path %>
    </div>
  <% end %>

  <% if @all_appointments == 0 %>
    <h4>You have not created any appointments yet.</h4>
    <h4><%= link_to "Make one today!", masters_users_path %></h4>
  <% end %>
</div>

