<div class="container">
  <% flash.each do |type, msg| %>
    <div class="custom-alert">
      <%= msg %>
    </div>
  <% end %>

  <div class="requests mt-3">
    <% if @accepted_appointments.count != 0 || @deleted_appointments.count != 0 %>
      <% count = @accepted_appointments.count + @deleted_appointments.count %>
      <h4><%= count %> <%= "request".pluralize(count) %> <%= count == 1 ? "requires" : "require" %> your action:</h4>
      <%= render @accepted_appointments %>
      <%= render @deleted_appointments %>
    <% end %>
  </div>

  <% if @confirmed_appointments.count != 0 %>
    <div class="requests mt-3">
      <h4>Your confirmed requests:</h4>
      <%= render @confirmed_appointments %>
    </div>
  <% end %>

  <% if @unaccepted_appointments.count != 0 %>
    <div class="requests mt-3">
      <h4>Your pending requests:</h4>
      <%= render @unaccepted_appointments %>
    </div>
  <% end %>

  <% if @all_appointments.count == 0 %>
    <h4>You have not created any appointments yet.</h4>
    <h4><%= link_to "Make one today!", masters_users_path %></h4>
  <% end %>
</div>

